*.pyc
*~
/media/*
/static/
/locale/
/logs/*

# IDE Projects
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
.project
.pydevproject

# Installation-specific
.env

# testing related files
.coverage

/mlm/settings_local.py
