{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
<section class="content-header">
    <h1>
    MLM
    <small>Multilevel Marketing</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Member Lists</li>
    </ol>
</section>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Members</h3>
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Member ID</th>
                        <th>Name</th>
                        <th>Mobile No</th>
                        <th>Gender</th>
                        <th>Step ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in object_list %}
                        <tr>
                            <td>{{ member.id }}</td>
                            <td>{{ member.name|title }}</td>
                            <td>{{ member.mobile }}</td>
                            <td>{{ member.gender }}</td>
                            <td>{{ member.step_id }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
      </div>
</section>   
</div>  
{% endblock %}
