{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
<section class="content-header">
    <h1>
    MLM
    <small>Multilevel Marketing</small>
    </h1>
    <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Relations List</li>
    </ol>
</section>
<section class="content">
      <!-- COLOR PALETTE -->
      <div class="box box-default color-palette-box">
        <div class="box-header with-border">
          <h3 class="box-title"><i class="fa fa-tag"></i> Members</h3>
        </div>
        <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Member ID</th>
                        <th>Name</th>
                        <th>Phone No</th>
                        <th>Sponser ID</th>
                        <th>Sponser Phone</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Gender</th>
                        <th>Step ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partner in object_list %}
                        <tr>
                            <td>{{ partner.member_child.id }}</td>
                            <td>{{ partner.member_child.name|title }}</td>
                            <td>{{ partner.member_child.mobile }}</td>
                            <td>{{ partner.member_parent.id }}</td>
                            <td>{{ partner.member_parent.mobile }}</td>
                            <td>{{ partner.member_child.user.email }}</td>
                            <td>{{ partner.position }}</td>
                            <td>{{ partner.member_child.gender }}</td>
                            <td>{{ partner.member_child.step_id }}</td>
                            <td>
                                <a href="{% url 'common:update_member_form' pk=partner.id %}"><button class="btn btn-primary btn-xs">Edit</button></a>
                                <a href="{% if partner.member_child.user %}{% url 'common:delete_relations' pk=partner.member_child.user.id %}{% endif %}"><button class="btn btn-danger btn-xs">Delete</button></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
              {% if paginator.page_range|length > 1 %}
                <div class="text-center">
                    <ul class="pagination">
                        <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{{ request.path }}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"> << </a></li>
                        <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{{ request.path }}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next"> >> </a></li>
                    </ul>
                </div>
            {% endif %}
        </div>
      </div>
</section>   
</div>  
{% endblock %}
